@media (min-width: 1000px){
    .modal{
        width: 35%;
        height: 70%
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .modal{
        width: 80%;
        height: 70%
    }
}
@media (min-width: 100px) and (max-width: 700px) {
    .modal{
        width: 100%;
        height: 100%;
    }
}

.testModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.473);
    color: #FFFF;
    font-size: 40px;
    width: 100%;
    height: 100%;
}
.modal{
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: rgb(22,32,43);
    margin: 0;
    border-radius: 20px;
}
.modal-head{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.bird-container{
    width: 100%;
    background-color: rgba(144, 238, 144, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.btn-next{
    position: absolute;
    right: 15px;
    background-color: rgb(64,160,241);
    width: 80px;
    height: 30px;
    border-radius: 100px;
    outline: none !important;
    border: 0px;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    font-size: 16px;
}
.btn-next:hover, .btn-back:hover{
    background-color: rgb(57,144,217);
}
.btn-back{
    margin-left: 30px;
    background-color: rgb(64,160,241);
    width: 80px;
    height: 30px;
    border-radius: 100px;
    outline: none !important;
    border: 0px;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    font-size: 16px;
    z-index: 10;
}
.modal-Body{
    background-color: rgba(255, 168, 201, 0);
}
.modal-text1{
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px
}
.modal-text2{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px
}
.modal-text3{
    font-size: 16px;
    padding-left: 20px;
    color:rgb(138, 159, 177);
    line-height: 1.2;
    font-weight: lighter;
}
.shell{
    margin-left: 20px;
    padding:  0 5px 0 5px;
    background-color: rgba(240, 163, 163, 0);
    color:rgb(33, 151, 248);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(57,144,217);
}
.shell-row1{
    background-color: rgba(105, 90, 205, 0);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.div-name, .div-email{
    font-size: 12px;
}
.div-name-length{
    font-size: 12px;
    position: absolute;
    right: 20px;
}
/* .div-input{
    background-color: turquoise;
    height: 40px;
} */
.input-name, .input-email{
    display: block;
    background-color: rgba(255, 228, 196, 0);
    color:white;
    height: 30px;
    font-size: 20px;
    width: 85%;
    border: none;
    outline: none;
}
.birth-container{
    margin-top: 16px;
    display: flex;
}
.user-birth-month{
    width: 170px
}
.user-birth-day{
    width: 100px
}
.user-birth-year{
    width: 120px
}
.input-birth-month, .input-birth-year{
    display: block;
    background-color: rgb(22,32,43);
    color:rgb(255, 255, 255);
    height: 30px;
    font-size: 20px;
    width: 85%;
    border: none;
    outline: none;
}
.fetch-error-block{
    font-size: 14px;
    color: rgb(235, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}